
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;   
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 10px 15px;
    display: block;
}
li{
    list-style: none;
   
    
}
#menu{
    margin:auto;
    max-width: 800px;
    display: flex;   
    flex-wrap:wrap;
    background: #000;
}
/* menu */
.drop{
    position: relative;
}
.drop ul{
    display: none;
    position: absolute;
    
    background: #000000ab;
    

}
.drop:hover ul{
    
    display: block;
    white-space: nowrap;
    
}
.drop ul li a{
    text-transform: none;
    min-width: 40px;
  
}
#menu > li > a{
    border: 2px solid #000;
    transition: 0.2s;
}
#menu >li:hover > a{
    background: #fff;
    color:#000;
}
.drop ul li:hover a{
    text-decoration: underline;
    white-space: nowrap;
}
#list-posts{
    margin: auto;
    background: yellow;
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#list-posts .post{
    width: 234px;
    margin:15px;
    border: 1px solid #000;
    padding:25px 15px;
}









